#home {
    font-size: 22px;
    font-family: fantasy
}

.title {
    text-align: center;
    color: #028299;
}

body {
    background-image: url(cloud-background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

cite {
    color: black;
    font-size: 17px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 60px;
    }
    body {
        font-size: 25px;
    }
}

@media screen and (min-width: 970px) {
    h1 {
        font-size: 50px;
    }
    a {
        font-size: 25px;
    }
}

@media screen and (min-width: 750px) {
    h1 {
        font-size: 50px;
    }
    a {
        font-size: 21px;
    }
}
